# Overview & Initial Inspection

In [ ]:
import pandas as pd
import json, pathlib

# Load raw JSON
raw_file = pathlib.Path('../data/raw/stops.json')
if not raw_file.exists():
    raise FileNotFoundError('Please download stops.json into data/raw/ first.')

df = pd.read_json(raw_file)

# Quick look
display(df.head())
df.info()
print('\nMissing values per column:')
print(df.isna().sum())

,generatedAt,dataFormatVersion,stopGroups
0,2025-07-24T03:52:01,3,"{'name': 'Adamov', 'districtCode': 'KH', 'idos..."
1,2025-07-24T03:52:01,3,"{'name': 'Albertov', 'districtCode': 'AB', 'id..."
2,2025-07-24T03:52:01,3,"{'name': 'Ametystová', 'districtCode': 'AB', '..."
3,2025-07-24T03:52:01,3,"{'name': 'Amforová', 'districtCode': 'AB', 'id..."
4,2025-07-24T03:52:01,3,"{'name': 'Anděl', 'districtCode': 'AB', 'idosC..."

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8232 entries, 0 to 8231
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   generatedAt        8232 non-null   object
 1   dataFormatVersion  8232 non-null   int64
 2   stopGroups         8232 non-null   object
dtypes: int64(1), object(2)
memory usage: 193.1+ KB

Missing values per column:
generatedAt          0
dataFormatVersion    0
stopGroups           0
dtype: int64

Bad pipe message: %s [b'0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7\r\nHost: localhost:44843\r\nUs', b'-Agent: Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safa']
Bad pipe message: %s [b'/537.36\r\nAccept-Encoding: gzip, deflate, br, zstd\r\nAccept-Language: cs-CZ,cs;q=0.9\r\nCache-Control: max-age=0\r\nRef', b'er: https://bookish-space-rotary-phone-x7v59597rqr2vj65.github.dev/\r\nX-Request-ID: 4447d58d4f789ada4']
Bad pipe message: %s [b'35e5542e84375\r\nX-Real-IP: 78.80.112.88\r\nX-Forwarded']
Bad pipe message: %s [b'ort: 443\r\nX-Forwarded-Scheme: https\r\nX-Origi']
Bad pipe message: %s [b'l-URI: /\r\nX-Scheme: https\r\nsec-fetch-site: same-site\r\nsec-fetch-mode: navigate\r\nsec-fetch-dest: document\r\nsec', b'h-ua: "Not)A;Brand";v="8", "Chromium";v="138', b' "Google Chrome";v="138"\r\nsec-ch-']